/*-------------Navigation Bar----------*/

.p1{
  margin-left: 200px;
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  vertical-align: middle;
}
.p11{

  color: black;
  font-size: 27px;
  font-weight: bold;
  font-family: monospace;

}
.p12{
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  vertical-align: middle;
}

.nav{
  margin-top: 10px;
  margin-right: 230px;
  float: right;
  color: black;
  font-size: 17px;
  font-family: monospace;
  font-weight: normal;
 
}

a.nav1{
  text-decoration: none;
  color: black;
}

a.nav1:hover{
  
  color: red;
}
a.hire:hover {
  
  color: black;
  font-size: 120%;
  border-radius: 15px 50px 50px;
  padding: 7px;
}

.hire{
  text-decoration: none;
  color: white;
  background-color: rgba(212, 8, 8, 0.997);
  border-radius: 15px 50px 50px;
  padding: 7px;
}

/*----------Intro and Profile-------------------*/

.container{
  width: 100%;
  height: 85%;
  display: flex;
  margin-top: 20px;
}
.border{
  border-radius: 0px 0px 100px;
  color: white;
  padding: 20px;
  background-color: rgba(212, 8, 8, 0.997);
  width: 53%;
  height: 500px;
}

.welcome{
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 180px;
}

.intro{
  font-size: 60px;
  margin-left: 180px;
  font-family: sans-serif ;
  font-weight: bold;
}

.button{
  text-decoration: none;
  margin-left: 180px;
  border-radius: 0px 50px 50px;
  background-color: rgba(212, 8, 8, 0.997);
  color: white;
  font-family: sans-serif;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
}

a.button:hover{
  color: rgb(253, 252, 252);
  font-size: 120%;
}

/*------------Profile Picture----------*/

.profile{
  height: 450px;
  width:430px;
}

.profile1{
  color: white;
  text-decoration: none;
  margin-left: 62%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile2{
  color: rgba(212, 8, 8, 0.997);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*----------1.About Me-----------*/

#headings{
  color: white;
  text-align: center;
  margin-top: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.num{
  color: rgba(212, 8, 8, 0.997);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading1{
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
}

/*----------After About Me---------*/

.container1{
  margin-top: 5%;
  margin-left: 4%;
  display: flex;
}

.box{
  margin-top: 10%;
  transform: rotate(270deg);
  border: 10px;
  padding: 20px;
  height: fit-content;
  width: fit-content;
  background-color: rgb(3, 3, 48);
}


.box_cont{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

a.box_cont:hover{
  color: red;
}

.container2{
  width: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-color:  rgb(0, 0, 37) rgb(0, 0, 37);
  scroll-snap-type: x mandatory;
  display: flex;
}

#Awards{
  color: white;
}

.Awards{
  margin-top: 150px;
  rotate: -15deg;
  background-color: rgba(212, 8, 8, 0.997);
}

#edu{
  color: white;
  font-size: 25px;
  font-family: monospace;
}

#exp{
  color: white;
  font-size: 25px;
  font-family: monospace;
  margin-left: 10%;
}

.box1{
  border-radius: 0px 0px 50px;
  background-color: rgba(212, 8, 8, 0.997);
  height: 350px;
  width: 200px;
  margin-left: 11%;
}

.box_text{
  margin-top: -6px;
}

/*-------Box------*/

.trust{
  margin-top: 70px;
  background-color:rgb(3, 3, 48);
  border: 0px;
  height: 200px;
  width: auto;
  display: flex;
}

.trust1{
  background-color: rgba(212, 8, 8, 0.997);
  height: 200px;
  width: 200px;
  margin-left: 14%;
}

.trust_work{
  text-align: center;
  padding: 35% 0%;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}

.trust_work1{
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px 200px;
}

